@use '../../styles/variables.scss';

.cardList {
    margin: 0;
    padding: 0;
    padding-left: 6.25%;
    padding-right: 6.25%;

    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 30px;

    list-style: none;
}

@media screen and (max-width: variables.$desktop-width) {
    .cardList {
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}

@media screen and (max-width: variables.$tablet-width) {
    .cardList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}