@use './styles/normalize.scss';

@font-face {
    font-family: 'Trebuchet MS';
    src: url('./assets/fonts/TrebuchetMS.woff2') format('woff2'),
        url('./assets/fonts/TrebuchetMS.woff') format('woff'),
        url('./assets/fonts/TrebuchetMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('./assets/fonts/Exo20-Thin.woff2') format('woff2'),
        url('./assets/fonts/Exo20-Thin.woff') format('woff'),
        url('./assets/fonts/Exo20-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Trebuchet MS';
    background-image: url('./assets/img/background.jpg');
}

.page-title {
    margin: 0;
    margin-bottom: 25px;
    font-family: 'Exo 2.0';
    font-weight: 100;
    color: #FFFFFF;
    text-align: center;
}

.main {
    padding-bottom: 60px;
    padding-top: 35px;
}